# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "86539391acd87d803b3eef4385ff4bab"
name = "re-tag best sellers"
application_url = "https://shopify-best-sellers-app-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_orders,read_all_orders, write_products"
use_legacy_install_flow = false
[auth]
redirect_urls = [ "https://shopify-best-sellers-app-production.up.railway.app/api/auth" ]

[access_scopes.protected_customer_data]
# Declare why you need access to orders
enabled = true
